body {
    background-color: var(--weui-BG-1);
}

#app {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

#page-container {
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-color: var(--weui-BG-0);
}
