body {
    background-color: var(--weui-BG-1);
}

#app {
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

#page-container {
    flex: 1;
    width: 100%;
    overflow: auto;
    background-color: var(--weui-BG-0);
}

.overlay {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

/* 通用点击遮罩效果 */
.tap-active {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tap-active:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: var(--weui-BTN-ACTIVE-MASK);
    border-radius: inherit;
    pointer-events: none;
}

[data-weui-theme="dark"] .tap-active:active::before {
    background-color: hsla(0, 0%, 100%, 0.2);
    background-color: var(--weui-BTN-ACTIVE-MASK);
}

@media (prefers-color-scheme: dark) {
    body:not([data-weui-theme="light"]) .tap-active:active::before {
        background-color: hsla(0, 0%, 100%, 0.2);
        background-color: var(--weui-BTN-ACTIVE-MASK);
    }
}
